<div class="p-5 mx-auto d-block text-center">
  <div class="row">
      <h1>Gráficos dinámicos <small>Angular</small></h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-5 card p-4 m-1">
        <app-linea></app-linea>
    </div>
    <div class="col-12 col-md-5 card p-4 m-1">
      <app-barras></app-barras>
    </div>
  </div>
  <div class="row">
    <div class="col-12- col-md-3 card p-4 m-1">
      <app-circulos></app-circulos>
    </div>
    <div class="col-12- col-md-4 card p-4 m-1">
      <app-radar></app-radar>
    </div>
    <div class="col-12- col-md-3 card p-4 m-1">
      <app-quesitos></app-quesitos>
    </div>
  </div> 
</div>